<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>정보 조회</title>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<h1>내 정보 조회, 수정, 삭제</h1>
		<a href="/post">돌아가기</a>
		<form>
			<input type="text" id="memberId" readonly /><br />
			<input type="password" id="password" placeholder="비밀번호" required />
			<input type="text" id="username" placeholder="이름" required />
			<input type="number" id="age" placeholder="나이" />
			<input type="email" id="email" placeholder="이메일" />
			<button type="button" onclick="updateFunc()">수정</button>
			<button type="button" onclick="deleteFunc()">탈퇴</button>
		</form>
		<script>
			const login = JSON.parse(localStorage.getItem('login'));
			(async function () {
				const res = await axios({
					method: 'GET',
					url: `/api/member/${login.memberId}`,
					// JSON.parse(localStorage.getItem(name))
					data: login.memberId,
				});
				// console.log(res, login);
				// const profile = res;
				// const { memberId, password } = login;
				console.log(res);
				const { memberId, password, profile } = res.data.meminfo;
				document.querySelector('#memberId').value = memberId;
				document.querySelector('#password').value = password;
				document.querySelector('#username').value = profile.username;
				document.querySelector('#age').value = profile.age;
				document.querySelector('#email').value = profile.email;
			})();

			async function updateFunc() {
				const data = {
					memberId: login.memberId,
					password: document.querySelector('#password').value,
					username: document.querySelector('#username').value,
					age: document.querySelector('#age').value,
					email: document.querySelector('#email').value,
				};
				const res = await axios({
					method: 'PATCH',
					url: `/api/member/${login.memberId}/update`,
					data,
				});
				console.log(res);
				if (res.data.success) {
					alert('수정되었습니다.');
					document.location.reload();
				}
			}

			async function deleteFunc() {
				if (!confirm('삭제하시겠습니까?')) {
					return;
				}
				const res = await axios({
					method: 'DELETE',
					url: `/api/member/${login.memberId}/delete`,
					data: {
						memberId: login.memberId,
					},
				});
				if (res.data.success) {
					alert('탈퇴가 완료됐습니다.');
					document.location.href = '/';
				}
			}
		</script>
	</body>
</html>
